<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FDCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="dll_library"/>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FDCS.Properties.Settings>
      <setting name="LEMapping" serializeAs="String">
        <value>LE Mapping.xlsx</value>
      </setting>
      <setting name="ITEMMapping" serializeAs="String">
        <value>Item Mapping.xlsx</value>
      </setting>
      <setting name="SDMatrix" serializeAs="String">
        <value>SDMatrix.xlsx</value>
      </setting>
      <setting name="DESC_INS" serializeAs="String">
        <value>300-InstallationSystemDisconnection</value>
      </setting>
      <setting name="DESC_WAR" serializeAs="String">
        <value>300-WarrantySystemDisconnection</value>
      </setting>
      <setting name="DESC_APPI" serializeAs="String">
        <value>300-AppSystemDisconnection</value>
      </setting>
      <setting name="DESC_APPII" serializeAs="String">
        <value>300-AdvAppSystemDisconnection</value>
      </setting>
      <setting name="DESC_VCP" serializeAs="String">
        <value>300-VCPSystemDisconnection</value>
      </setting>
    </FDCS.Properties.Settings>
  </userSettings>
</configuration>